body {
  background-color: black;
  text-align: center;
  color: white;
}

button {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.sign {
  font-size: 80px;
}

.text {
  font-size: 30px;
}

.buttons {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
