body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* hands */

.hands {
  font-size: 200px;
  margin: 0 auto;
  height: 250px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.hand.player {
  position: absolute;
  transform: scaleX(-1) rotate(-90deg);
}

.hand.player.animate {
  animation: rotatePlayer 2s linear;
}

.hand.computer {
  position: absolute;
  right: 30%;
  transform: rotate(-90deg);
}

.hand.computer.animate {
  animation: rotateComp 2s linear;
}

.rock {
  font-size: 180px;
}

.paper {
  top: 15%;
}

/* points */

.points {
  font-size: 2rem;
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.btn {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}

.sign {
  font-size: 80px;
}

.text {
  font-size: 30px;
}

.buttons {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.small-button {
  margin: 0 auto;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

@keyframes rotatePlayer {
  0% {
    transform: scaleX(-1) rotate(-90deg);
  }
  16% {
    transform: scaleX(-1) rotate(0deg);
  }
  32% {
    transform: scaleX(-1) rotate(-90deg);
  }
  48% {
    transform: scaleX(-1) rotate(0deg);
  }
  64% {
    transform: scaleX(-1) rotate(-90deg);
  }
  80% {
    transform: scaleX(-1) rotate(0deg);
  }
  100% {
    transform: scaleX(-1) rotate(-90deg);
  }
}

@keyframes rotateComp {
  0% {
    transform: rotate(-90deg);
  }
  16% {
    transform: rotate(0deg);
  }
  32% {
    transform: rotate(-90deg);
  }
  48% {
    transform: rotate(0deg);
  }
  64% {
    transform: rotate(-90deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
